@import '@fortawesome/fontawesome-free/css/all.min.css';



:root {
  /* Default (tu tema actual) */
  --color-primary: #802020;
  --color-navbar: #f4f7fa; /* usa el mismo color */
  --color-background: #e7e9ec; /* color de fondo claro f4f7fa*/
  --color-text: #1a1a1a;
}

/* Tema claro */
[data-theme='light'] {
  --color-primary: #3f4d67;
  --color-navbar: #f4f7fa; /* usa el mismo color */
  --color-background: #e7e9ec;
  --color-text: #1a1a1a;
}

/* Tema oscuro */
[data-theme='dark'] {
  --color-primary: #2b2c2f;
  --color-navbar: #2f3033; /* usa el mismo color */
  --color-background: #212224;
  --color-text: #e5e7eb;
}

/* Aplicar a elementos */
body {
  background-color: var(--color-background);
  color: var(--color-text);
}
.sidebar {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.navbar {
  background-color: var(--color-navbar);
  color: var(--color-text);
}
/* Tema personalizado (colores definidos por el usuario desde Configuración) */
[data-theme='custom'] {
  /* No definas nada aquí.
     Configuracion.ts actualizará los valores dinámicamente. */
     --dummy: 0; /* placeholder para evitar empty ruleset */
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, stroke 0.3s ease;
}







.table {
  background-color: var(--color-background) !important;
  color: var(--color-text) !important;
}

.table thead {
  background-color: var(--color-navbar) !important;
  color: var(--color-text) !important;
  border-color: var(--color-primary) !important;
}

.table-hover tbody tr:hover {
  background-color: color-mix(in srgb, var(--color-primary) 20%, transparent) !important;
}

.card {
  background-color: var(--color-background) !important;
  border: 1px solid var(--color-navbar) !important;
}
