:root {
  /* Default (tu tema actual) */
  --color-primary: #802020;
  --color-navbar: var(--color-background); /* usa el mismo color */
  --color-background: #f4f7fa;
  --color-text: #1a1a1a;
}

/* Tema claro */
[data-theme='light'] {
  --color-primary: #3f4d67;
  --color-navbar: var(--color-background); /* usa el mismo color */
  --color-background: #f4f7fa;
  --color-text: #1a1a1a;
}

/* Tema oscuro */
[data-theme='dark'] {
  --color-primary: #2b2c2f;
  --color-navbar: var(--color-background); /* usa el mismo color */
  --color-background: #212224;
  --color-text: #e5e7eb;
}

/* Aplicar a elementos */
body {
  background-color: var(--color-background);
  color: var(--color-text);
}
.sidebar {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.navbar {
  background-color: var(--color-navbar);
  color: var(--color-text);
}
/* Tema personalizado (colores definidos por el usuario desde Configuración) */
[data-theme='custom'] {
  /* No definas nada aquí.
     Configuracion.ts actualizará los valores dinámicamente. */
}
* {
  transition: background-color 0.3s ease, color 0.3s ease, stroke 0.3s ease;
}


